body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.hatPic {
  width: 150px;
  height: 150px;
}

#all-products {
  display: flex;
  direction: ltr;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

#individual-products {
  margin: 1rem;
  opacity: 80%;
  position: relative;
  background-color: white;
}

#cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
a {
  color: black;
}
